body{
    background-color: black;
    margin: 0;
}

#title{
    color: blue;
    font-size : 40px
}

.headings{
    color: blue;
    font-size : 26px
}

p{
    color: red;
    font-size: 20px;
    text-indent: 20px
}



.captions{
    color: white
}